 .DS_Store
.vagrant/
*.pyc
*.pyo
*.swp
*.swo
.cache/
.tox/
private/
venv/
htmlcov/
cover/
coverage.xml
.coverage
*.egg-info
.eggs/
mock-*
.ropeproject/
.idea/
.coveralls.yml
coverage.json
pylint.out
db.sqlite
/config/settings.py
/deploy/settings.py
/dist
/build
/BUILT_WHEELS
